---
import type { GetStaticPaths } from 'astro';
import type { GamesDB, GamesDBArray } from "@intefaces/burstdb";
import Layout from '@layouts/Layout.astro';
import CardGame from '@components/CardGame.astro';


export const getStaticPaths = (async () => {
const resp = await fetch("https://gamesdbview.pages.dev/api/games");
const results: GamesDBArray = await resp.json();
// const { GamesDB } = (await resp.json()) as GamesDBArray;




return results.map(({ title, poster }) => ({
    params: { title: title },
    props: { title: title, poster: poster },
}));

}) satisfies GetStaticPaths;

const { title } = Astro.params;
const { poster } = Astro.props;

const imageSrc = `https://images.igdb.com/igdb/image/upload/t_1080p/${poster}.webp`;
---

<Layout title="Game Individual">
	<section class="flex flex-row gap-4">


        <aside class="w-9/12">
            <!-- <button onclick="window.history.back()" class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Atras</button> -->
            <p class="text-2xl xl:text-4xl font-light">
                {title}
            </p>
            <p class="text-xl mb-2 font-semibold italic">

            </p>
            <!--<p class="text-xl mb-2"><span class="font-semibold">Genre:</span> Role-playing (RPG), Hack and slash/Beat 'em up, Adventure</p>
            <p class="text-xl mb-2"><span class="font-semibold">Platforms:</span> PC (Microsoft Windows), PlayStation 4, PlayStation 5</p>
            <p class="text-xl mb-2"><span class="font-semibold">Editions:</span> See 4 more editions of this game</p>
            <p class="text-xl mb-2">
                A grand adventure in the skies awaits! Form a party of four from a diverse roster of skyfarers 
                and slash—or shoot or hex—your way to victory against treacherous foes in this action RPG. Take 
                on quests solo or with the help of others in up to 4-player co-op play!
            </p> -->
        </aside>

	</section>
</Layout>