---

const { title } = Astro.props

const respRawg = await fetch(`https://api.rawg.io/api/games?key=3dc1bd459a81415caebcb7eae0411687&search=${title}`);
const dataRawg = await respRawg.json();
const dataZero = dataRawg.results[0];

---
<section class="flex flex-col gap-4 mt-4">
    <p class="text-xl font-semibold">
        Rating: <span class="text-lg font-light">{dataZero.rating} / 5</span>
    </p>
    
    <p class="text-xl font-semibold">
        Genres:
        {dataZero.genres.map((genres: { name: string; }) => (
            <span class="text-lg pl-2 font-light">{genres.name},</span>
        ))}
    </p>
</section>