---
import { postGameIGDB } from '../services/services'

const { title, igdbId } = Astro.props
const arrayRes = await postGameIGDB({ igdbId })
const game = arrayRes[0]

---

<section class="flex flex-col gap-4 mt-4">
    {game.summary && (
        <p class="text-xl font-semibold">
            Summary: <span class="text-lg font-light">{game.summary}</span>
        </p>
    )}

    {game.aggregated_rating && (
        <p class="text-xl font-semibold">
            Rating: <span class="text-lg font-light">{game.aggregated_rating} / 100</span>
        </p>
    )}

    {game.genres && game.genres.length > 0 && (
        <p class="text-xl font-semibold">
            Genres:
            {game.genres.map((genre: { name: string; }) => (
                <span class="font-light">{genre.name}, </span>
            ))}
        </p>
    )}

    {game.themes && game.themes.length > 0 && (
        <p class="text-xl font-semibold">
            Themes:
            {game.themes.map((theme: { name: string; }) => (
                <span class="font-light">{theme.name}, </span>
            ))}
        </p>
    )}
</section>
