---

const { title } = Astro.props


const respRawg = await fetch(`https://api.rawg.io/api/games?key=3dc1bd459a81415caebcb7eae0411687&search=${title}`);
const dataRawg = await respRawg.json();
const dataZero = dataRawg.results[0];

---
<section class="flex flex-col gap-4 mt-4">
    <h3 class="text-2xl xl:text-4xl font-normal">
        Screenshot
    </h3>
    <div class="flex flex-col gap-4">
        {dataZero.short_screenshots.map((screenshot: { image: string | null | undefined; id: any; }) => (
            <img class="border rounded-lg" src={screenshot.image} alt={`Screenshot ${screenshot.id}`} />
        ))}
    </div>
</section>